.radios {
  display: flex;
  justify-content: center;
}

.radios > div {
  padding-inline: 15px;
}

.radio-form-product {
  padding: 5px;
}

.radio-form-product > div {
  text-align: start;
  padding-bottom: 5px;
}
