.product-item-wrap {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.product-info {
  display: flex;
  flex-wrap: wrap;
}
.product-info > div {
  padding: 5px;
}

.subtitle {
  font-weight: 600;
}

.item-info {
  font-weight: 400;
}

.form {
  margin: 0 auto;
  margin-top: 30px;
  border: 1px solid grey;
  width: 100%;
  height: max-content;
  text-align: center;
}
